<!-- < bj *ngIf="products; else noProduct"> {{ title}} </h3> -->
<app-category></app-category>
<input class="form-control" 
id="productName"
 placeholder="Ürün Arayalım.."
 [(ngModel)]="filterText"
 >
<small *ngIf="filterText" class="form-text text-muted">
  Şuan <strong> {{filterText}} </strong>aradınız.. 
</small>
<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      Bu kategoride Ürün yoktur..
    </div>
  </ng-template>

  <div *ngFor="let product of products | productFilter:filterText" class="card" style=" padding:15px; margin:15px;">
    <img [src]="product.imageUrl" class="card-img-top img" alt="...">
    <div class="card-body">
      <h5 class="card-title"> {{ product.name |uppercase }} {{ product.price | currency}} </h5>
      <p class="card-text"> {{ product.description }} </p>
      <a (click)="addToCart(product)"class="btn btn-primary">Sepete ekle</a>
    </div>
  </div>

</div>
